build/
dat/
.vscode/
cscope*
*.pyc
figure_*
100M*
a_*
*.bm
naive_*
ub_*
ucb_*
output.*
1*
*.swp
*.vim
graphs/
graphs_*
output
latency_*
valgrind*
run_temp.py
Land_and_Ocean_EqualArea.nc
earth_new/
run_tmp.py
ExperimentalData*
zipf_15
.idea/
output/
clean.sh
local.sh
remote.sh
